<h1>Amigos cerca tuyo</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Solicitud de amistad</th>
            <th>Enviar Mensaje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Juan</td>
            <td>Dogge</td>
            <td class="text">
                <img src="../../assets/plus.jpg">
            </td>
            <td>Mensaje</td>
        </tr>
        <tr>
            <td>Pedro</td>
            <td>Shiba</td>
            <td class="text">
                <img src="../../assets/plus.jpg">
            </td>
            <td>Mensaje</td>
        </tr>
        <tr>
            <td>Pedro</td>
            <td>Pastor</td>
            <td class="text">
                <img src="../../assets/plus.jpg">
            </td>
            <td>Mensaje</td>
        </tr>
    </tbody>
</table>